body {
   font-family: Arial, sans-serif;
   margin:0;
   background-color: #f8f8f8;
   color: #0C243C;
}

.my-content {
   margin-left: 35px;
}

header {
   background-color: white;
   text-align: left;
}

.logo {
   width: 180px;
   padding: 10px;
   margin-left: 20px;
}

.mi-logo {
   margin-left: 80px;
}

.banner {
   width: 100%;
   max-height: 360px;
   object-fit: cover;
}

nav {
   background-color: #E94D40;
   text-align: right;
   padding: 12px;
   margin-left: 90px;
   margin-right:98px;
}

nav a {
   color: #FFFFFF;
   text-decoration: none;
   padding: 15px;
   font-weight: bold;
}

nav a:hover {
   background-color:#C62828;
}

.container {
   width: 90%;
   margin: auto;
   padding: 20px;
}

h1 {
   color:  #0C243C ;
}

h2 {
   color: #0C243C;
}

.page-image {
   width: 100%;
   max-width: 975px;
   display: block;
   margin: 20px auto;
}

.gallery {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
   gap: 20px;
}

.gallery img {
   width: 97%;
   border-radius: 5px;
}

table {
   border-collapse: collapse;
   width: 97%;
   margin-top: 20px;
}

table, th, td {
   border: 1px solid #04101d;
}

th {
   background-color: #E94D40;
   color: #FFFFFF;
}

th, td {
   padding: 12px;
   text-align: left;
}

form {
   max-width: 600px;
}

label {
   display: block;
   margin-top: 10px;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

button {
  background-color: #E94D40;
  color:  #FFFFFF;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
}

footer {
  background-color: #0C243C;
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin-top: 15px;
  margin-left: 90px;
  margin-right: 98px;
}